# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/
main_STM32_H743_HIL_ert_rtw/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# Folders
sdi_logs/

# RCP files
*.hex
*.elf
*.bin